<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Ipfs status</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-2">
          <a class="nav-link" href="https://fooock.com" target="_blank">about</a>
        </li>
        <li class="nav-item ml-2">
          <a class="nav-link" href="https://github.com/fooock/ipfs-gateway-checker" target="_blank">contribute</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
